// Main Colors
$background: #f5f5f7;
$background_dark: #1f2024;
$paragraph: #ffffff;
$paragraph_dark: #28292d;
$container: #ececec;
$container_dark: #3a3b41;
$color: #111111;
$color_dark: #ffffff;

$primary: #0088ff;
$error: #ff4757;
$success: #25ca49;
$alarm: #f1c40f;

// Media Queries
$isMobile: "only screen and(max-width: 850px)";
$isDesktop: "only screen and(min-width: 851px)";
$isFullscreen: "only screen and(min-width: 1250px)";

// Options
$border-radius: 7.5px;

$shadow-light: 2px 4px 10px rgba(0, 0, 0, 0.08);
$shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
$shadow-hover: 4px 8px 20px rgba(0, 0, 0, 0.19);
